/* Photo https://unsplash.com/photos/FnZKE3owM1o by Omid Armin https://unsplash.com/@omidarmin on Unsplash https://unsplash.com/ */

:root {
  --grid-cols: 4;
  --grid-rows: 6;

  --grid-gap-ratio: 0.1;
  --card-size-w: calc(99vw / (var(--grid-cols) + (var(--grid-cols) + 1) * var(--grid-gap-ratio)));
  --card-size-h: calc((80vh - 4rem) / (var(--grid-rows) + (var(--grid-rows) + 1) * var(--grid-gap-ratio)));

  --card-size: min(var(--card-size-w), var(--card-size-h));
  --card-gap: calc(var(--grid-gap-ratio) * var(--card-size));
}

@media (min-aspect-ratio: 70/100) {
  /* Just under 3/4 (75/100), to avoid glitches */
  :root {
    --grid-cols: 5;
    --grid-rows: 5;
  }
}

@media (min-aspect-ratio: 135/100) {
  /* Just above 4/3 (133/100), to avoid glitches */
  :root {
    --grid-cols: 8;
    --grid-rows: 3;
  }
}

.main__content {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  gap: var(--card-gap);
}

.card {
  --rotation-origin: 90%;

  border-radius: 10%;
  position: relative;

  width: var(--card-size);
  height: var(--card-size);

  transition: transform 1s ease-in-out, box-shadow 100ms ease-out;
  transform-style: preserve-3d;

  transform-origin: var(--rotation-origin);
}

.card:is(:not(.card--flipped)):hover {
  box-shadow: 0 0 9px 6px var(--theme-primary);
}

.card--flipped {
  transform: rotateY(180deg) translateX(calc(2 * var(--rotation-origin) - 100%));
}

.card--selected {
  z-index: 100;
}

.card__face {
  position: absolute;

  border: 3px solid var(--theme-on-primary);
  border-radius: inherit;
  box-shadow: 0 0 0 2px black;

  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__face--front {
  background-color: var(--theme-primary);
  background-image: url('./images/card-back.jpg');
}

.card__face--back {
  background-color: var(--theme-on-primary);
  /* background-image: url('https://picsum.photos/500/500'); */

  transform: rotateY(180deg);
}
