:root {
  --grid-cols: 3;
  --grid-rows: 8;

  --grid-gap-ratio: 0.1;
  --card-size-w: calc(95vw / (var(--grid-cols) + (var(--grid-cols) + 1) * var(--grid-gap-ratio)));
  --card-size-h: calc((80vh - 4rem) / (var(--grid-rows) + (var(--grid-rows) + 1) * var(--grid-gap-ratio)));

  --card-size: min(var(--card-size-w), var(--card-size-h));
  --card-gap: calc(var(--grid-gap-ratio) * var(--card-size));

  --check-size-factor: 0.3;
}

@media (min-aspect-ratio: 3/8) {
  :root {
    --grid-cols: 4;
    --grid-rows: 6;
  }
}

@media (min-aspect-ratio: 6/7) {
  :root {
    --grid-cols: 6;
    --grid-rows: 4;
    --check-size-factor: 0.2;
  }
}

@media (min-aspect-ratio: 8/5) {
  :root {
    --grid-cols: 8;
    --grid-rows: 3;
    --check-size-factor: 0.16;
  }
}

.stats {
  padding: 0.2rem 0.4rem;
  font-size: min(5vw, 1.25rem);

  color: var(--theme-on-primary);
  background-color: var(--theme-primary);

  border-radius: 0.5rem;
}

.field {
  white-space: nowrap;
}

.score,
.tries {
  font-weight: bold;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  gap: var(--card-gap);
}

.card {
  --rotation-origin: 120%;
  --duration: 1s;

  display: block;

  border-radius: 10%;
  position: relative;

  width: var(--card-size);
  height: var(--card-size);

  transition: transform var(--duration) ease-in-out; /* Only for the card rotation animation */
  transform-style: preserve-3d;

  transform-origin: center var(--rotation-origin);
}

@media (hover: hover) {
  .card:not(.card--disabled) .card__face--front:hover {
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-out; /* Only for the card hover animation */

    box-shadow: 0 0 calc(0.05 * var(--card-size)) calc(0.05 * var(--card-size)) var(--theme-primary);
    transform: scale(1.05);
  }
}

/* .card__face--front:active {
  transition: transform 300ms ease-in-out, box-shadow 100ms ease-out !important;
  transform: rotateZ(0.2deg) scale(1.05) rotateX(10deg) translateY(3%) !important;
} */

.card--disabled {
  pointer-events: none;
}

.card--flipped .card__face--front {
  transition: transform calc(var(--duration) / 2) ease-in-out; /* Animation should be done scaling down when the card changes side (at half the duration of the card animation) */
}

.card--flipped {
  transform: rotateZ(5deg) rotateX(180deg) translateY(calc(2 * var(--rotation-origin) - 100%));
}

.card--selected {
  z-index: 100;
}

.card__face {
  position: absolute;

  border: calc(0.03 * var(--card-size)) solid var(--theme-on-primary);
  border-radius: inherit;
  box-shadow: 0 0 0 calc(0.02 * var(--card-size)) var(--theme-primary);

  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__face--front {
  background-color: var(--theme-primary);
  background-image: url('../images/card-back.jpg'); /* Photo https://unsplash.com/photos/FnZKE3owM1o by Omid Armin https://unsplash.com/@omidarmin on Unsplash https://unsplash.com/ */
}

.card__face--back {
  background-color: var(--theme-on-primary);
  /* background-image: url('https://picsum.photos/500/500'); */

  transform: rotateZ(5deg) rotateX(180deg) translateX(-6%) translateY(-0.5%);

  display: grid;
  place-content: end;
}

.card__face--back::after {
  content: '✔️';
  font-size: calc(var(--check-size-factor) * var(--card-size));
  padding: calc(0.05 * var(--card-size));
  color: var(--theme-primary);

  opacity: 0;

  transition: opacity 100ms ease-in-out, transform 300ms ease-in-out;
}

.card--found .card__face--back::after {
  opacity: 1;
  transform: scale(1.2);

  /* transition: opacity 100ms ease-in-out, transform 100ms ease-in-out; */
}
