:root {
  --grid-cols: 2;
  --grid-rows: 6;

  --grid-gap-ratio: 0.1;
  --card-size-w: calc(95vw / (var(--grid-cols) + (var(--grid-cols) + 1) * var(--grid-gap-ratio)));
  --card-size-h: calc((87vh - 4rem) / (var(--grid-rows) + (var(--grid-rows) + 1) * var(--grid-gap-ratio)));

  --card-size: min(var(--card-size-w), var(--card-size-h));
  --card-gap: calc(var(--grid-gap-ratio) * var(--card-size));

  --check-size-factor: 0.20;
}

@media (min-aspect-ratio: 5/12) {
  :root {
    --grid-cols: 3;
    --grid-rows: 4;
    --check-size-factor: 0.17;
  }
}

@media (min-aspect-ratio: 6/7) {
  :root {
    --grid-cols: 4;
    --grid-rows: 3;
    --check-size-factor: 0.13;
  }
}

@media (min-aspect-ratio: 6/4) {
  :root {
    --grid-cols: 6;
    --grid-rows: 2;
    --check-size-factor: 0.11;
  }
}

.stats {
  padding: 0.2rem 0.6rem 0.35rem 0.6rem;
  font-size: min(5vw, 1.25rem);

  color: rgb(var(--theme-on-primary));
  background-color: rgba(var(--theme-primary) / 0.35);

  border-radius: 0.5rem;
}

.field {
  white-space: nowrap;
}

.score,
.tries {
  font-weight: bold;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  gap: var(--card-gap);
}

.card {
  --rotation-origin: 120%;
  --duration: 1s;

  display: block;

  border-radius: 10%;
  position: relative;

  width: var(--card-size);
  height: var(--card-size);

  transition: transform var(--duration) ease-in-out; /* Only for the card rotation animation */
  transform-style: preserve-3d;

  transform-origin: center var(--rotation-origin);
}

.card--selected {
  z-index: 100;
}

.card--disabled {
  pointer-events: none;
}

.card--flipped {
  transform: rotateZ(5deg) rotateX(180deg) translateY(calc(2 * var(--rotation-origin) - 100%));
}

.card__face {
  position: absolute;

  border: calc(0.025 * var(--card-size)) solid rgb(var(--theme-on-primary));
  border-radius: inherit;
  /* box-shadow: 0 0 0 calc(0.02 * var(--card-size)) rgb(var(--theme-primary)); */

  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__face--front {
  background-color: rgb(var(--theme-primary));
  background-image: url('../images/card-back.jpg'); /* Photo (https://unsplash.com/photos/FnZKE3owM1o) by Omid Armin (https://unsplash.com/@omidarmin) on Unsplash (https://unsplash.com/) */
  cursor: pointer;
  
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-out; /* Only for the card hover animation */
  transform: scale(1);  
}

.card--flipped .card__face--front {
  transition: transform calc(var(--duration) / 2) ease-in-out, box-shadow 200ms ease-out; /* Animation should be done scaling down when the card changes side (at half the duration of the card animation) */
}

@media (hover: hover) {
  .card:not(.card--disabled) .card__face--front:hover {
    box-shadow: 0 calc(0.04 * var(--card-size)) calc(0.03 * var(--card-size)) calc(0.01 * var(--card-size)) rgb(var(--theme-on-secondary) / 0.2);
    transform: scale(1.05) translateY(-3%);
  }
}

@media (hover: none) {
  .card__face--front {
    -webkit-tap-highlight-color: rgba(var(--theme-secondary) / 0.05);
  }
}

.card__face--back {
  background-color: rgb(var(--theme-on-primary));

  transform: rotateZ(5deg) rotateX(180deg) translateX(-6%) translateY(-0.5%);

  position: relative;
}

.card__face--back::before,
.card__face--back::after {
  position: absolute;
  bottom: 0;
  right: 0;

  content: '✔️';
  font-size: calc(var(--check-size-factor) * var(--card-size));
  margin: calc(0.06 * var(--card-size));

  color: transparent;

  opacity: 0;

  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  transform: scale(0.8);
}

.card--found .card__face--back::before,
.card--found .card__face--back::after {
  opacity: 1;
  /* transition: opacity 100ms ease-in-out, transform 100ms ease-in-out; */
}

.card--found .card__face--back::before {
  transform: scale(1.2);
}

.card--found .card__face--back::after {
  transform: scale(1);
}

.card__face--back::before {
  background: rgba(var(--theme-on-secondary) / 0.5);
  border-radius: 100%;
}

.card__face--back::after {
  background-color: rgb(var(--theme-secondary));
  background-clip: text;
  -webkit-background-clip: text;
}
