:root {
  --theme-primary: rgb(57, 104, 73);
  --theme-secondary: rgb(195, 209, 198);
  --theme-on-primary: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--theme-primary);
}

html,
body {
  min-height: 100vh;
  margin: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  background-color: var(--theme-primary);
  color: var(--theme-on-primary);
  /* border-bottom: 1px solid #bbb; */

  padding: 0.2rem 1rem;
}

.title {
  white-space: nowrap;
}

h1 {
  margin: 1rem 0;
}

main {
  flex: 1 1 100%;

  padding: var(--card-gap);
  display: grid;
  place-content: center;

  background-color: var(--theme-secondary);
  background: linear-gradient(125deg, var(--theme-secondary), var(--theme-primary) 200%);
}

footer {
  flex: 0 0 4rem;

  padding: 0.7rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  background-color: var(--theme-primary);
  color: var(--theme-on-primary);
  /* border-top: 1px solid #bbb; */
}

footer a {
  white-space: nowrap;
  color: var(--theme-on-primary);
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.3rem;
  align-items: flex-end;
}

.copyright,
.author {
  white-space: nowrap;
  margin: auto 0;
}

.external-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

.external-links svg {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
}

.mention {
  font-size: small;
  text-align: right;
}
